<div class="container">
  <mat-card class="task-list-card">
    <div class="header">
        <div class="task-list-title">
          <h2 >Task List</h2>
        </div>
        <div class="search-bar">
          <button mat-raised-button color="primary" class="add-button" (click)="navigateToAdd()">
            <mat-icon>add</mat-icon> Add Task
          </button>

          <div>
            <mat-form-field>
              <input matInput type="search" (keyup.enter)="doSearch()" #searchInput>
              <button matSuffix mat-icon-button aria-label="Search" (click)="doSearch()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
    </div>
    <table mat-table [dataSource]="tasks" class="task-table">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let task">{{ task.title }}</td>
      </ng-container>

      <!-- Due Date Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let task">{{ task.dueDate | date }}</td>
      </ng-container>

      <!-- Is Completed Column -->
      <ng-container matColumnDef="isCompleted">
        <th mat-header-cell *matHeaderCellDef>Completed</th>
        <td mat-cell *matCellDef="let task">
          <mat-icon [ngClass]="{'completed': task.isCompleted, 'not-completed': !task.isCompleted}">
            {{ task.isCompleted ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button color="primary" (click)="navigateToDetails(task.taskId)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="navigateToEdit(task.taskId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(task.taskId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card>
</div>